@page
@model MusicPlayer.IndexMusicPlaylist

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusicPlaylist[0].Music)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicPlaylist[0].Playlist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MusicPlaylist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Music.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Playlist.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
