@page
@model MusicPlayer.IndexMusic

<h2 style="margin-top: 25px">
    All Musics
    <a class="btn btn-success" asp-page="Create"><i class="fas fa-plus"></i> Create New</a>
    <a class="btn btn-success" asp-page="../MusicPlaylist/Create"><i class="fas fa-plus"></i> Add Music to Playlist</a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Music) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">
                    <i class="fas fa-play" style="padding-right: 10px"></i>
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.File)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-play"></i> Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
